#BUS_SORT

#N
clk
control
reset

#W
seg\[6\]
seg\[5\]
seg\[4\]
seg\[3\]
seg\[2\]
seg\[1\]
seg\[0\]

#E
an\[3\]
an\[2\]
an\[1\]
an\[0\]

#S
Result\[31\]
Result\[30\]
Result\[29\]
Result\[28\]
Result\[27\]
Result\[26\]
Result\[25\]
Result\[24\]
Result\[23\]
Result\[22\]
Result\[21\]
Result\[20\]
Result\[19\]
Result\[18\]
Result\[17\]
Result\[16\]
Result\[15\]
Result\[14\]
Result\[13\]
Result\[12\]
Result\[11\]
Result\[10\]
Result\[9\]
Result\[8\]
Result\[7\]
Result\[6\]
Result\[5\]
Result\[4\]
Result\[3\]
Result\[2\]
Result\[1\]
Result\[0\]

